<h1>All "h1" Tags</h1>
<%= @h1 %>

<h1>All "h2" Tags</h1>
<% @formatted_h2s.each do |a| %>
  <%= a %><br>
<% end %>

<h1>All "h3" Tags</h1>
<% @formatted_h3s.each do |b| %>
  <%= b %><br>
<% end %>

<h1>All "a" Tags (Links)</h1>
<% @all_links.each do |c| %>
  <%= c %></br>
<% end %>
